<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="IP" value="10.40.34.15"/>
    <add key ="PORT" value="61600" />
  </appSettings>
</configuration>